<h3>Placar: {{acertos}} acerto(s) / {{erros}} erro(s)</h3>
<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-4">
      <ul class="list-group">
        <li draggable *ngFor="let processo of processos" 
            [dragData]="processo" 
            class="list-group-item processo-draggable" 
            [dragScope]="processo.grupo.nome"
            (onDragEnd)="onDragEnd($event)">{{processo.nome}}</li>
      </ul>
    </div>

    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-6">
          <div droppable *ngFor="let grupoProcessos of gruposProcessosEsquerda" class="panel panel-default grupo-processo-droppable"
            (onDrop)="onItemDrop($event)" [dropScope]="grupoProcessos.nome">
            <div class="panel-heading">{{grupoProcessos.nome}}</div>
            <div class="panel-body">
              <li *ngFor="let processo of grupoProcessos.processos" class="list-group-item processo-draggable">{{processo.nome}}</li>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div droppable *ngFor="let grupoProcessos of gruposProcessosDireita" class="panel panel-default grupo-processo-droppable"
            (onDrop)="onItemDrop($event)" [dropScope]="grupoProcessos.nome">
            <div class="panel-heading">{{grupoProcessos.nome}}</div>
            <div class="panel-body">
              <li *ngFor="let processo of grupoProcessos.processos" class="list-group-item processo-draggable">{{processo.nome}}</li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>